.DetailWrapper{
    margin-top: 10rem;
    margin-bottom: 5rem;
    display: flex;
}

.DetailWrapper .active{
    background: linear-gradient(35deg, #494949, #313131);
    color: #fff;
}

.DetailWrapper h2 {
    margin-bottom: 2rem;
}

.DetailWrapper li{
    font-size: 1.2rem;
    line-height: 2.5rem;

}

.DetailWrapper ul{
    margin-top: 2rem;
}

#Button{
    padding:  1rem 2rem;
    color: #313131;
    background-color: #fff;
    border: 2px solid black;
    margin-right: 2rem;
}

.Info{
    margin-left: 2rem;
}